body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* ---------------HEADER----------------- */

.webstudio-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
  color: #404bbf;
}

.nav-menu-item:hover {
  color: #404bbf;
}

.studio::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.nav-menu-item:active,
.nav-menu-item:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contacts-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.contacts-list .contact {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contact:hover,
.contacts-list .contact:focus {
  color: #404bbf;
}

/* ---------------HERO----------------- */

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-phrase {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-btn {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* ---------------ADVANTAGES----------------- */

.advantages-section {
  background-color: #ffffff;
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantage-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
}

.adv-icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  display: flex;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon {
  fill: #f4f4fd;
}

.ellipse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ellipse:hover,
.ellipse:focus {
  background-color: #404bbf;
}

.advantage-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------TEAM----------------- */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.member-container {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 32px 0;
}

.section-header {
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member .member-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member .member-position {
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------PORTFOLIO----------------- */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parent-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item .project-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* ---------------FOOTER----------------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-footer {
  color: #f4f4fd;
}

.motivation-phrase {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.motivation-container {
  margin-right: 120px;
}

.soc-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-ellipse:hover,
.footer-ellipse:focus {
  background-color: #31d0aa;
}

.soc-container {
  margin-right: 80px;
}

.user-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: #2e2f42;
  padding: 8px 16px;
}

.user-email {
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.user-email::placeholder {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}
/* ----------------Modal window----------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: #ffffff;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #fcfcfc;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  display: block;

  /* line-height: 14px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  height: 120px;
  width: 100%;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-comment:focus {
  border: 1px solid #4d5ae5;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-submit-btn {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  display: block;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

.policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;

  a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
}

.new-checkbox {
  display: inline-flex;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;

  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .policy-text .new-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.policy-label {
  color: #4d5ae5;
}
